<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- As used on site at DPWA on 9 Feb 12 -->

<log4j:configuration>

    <appender name="Async_Console" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="Console"/>
    </appender>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="com.navis.ecn4.util.log4j.ECN4PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="Async_File" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="File"/>
    </appender>

    <appender name="File" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${com.navis.ecn4.log.dir}/${com.navis.ecn4.log.file}.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="com.navis.ecn4.util.log4j.ECN4PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="Async_Cache" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="CacheFile"/>
    </appender>

    <appender name="CacheFile"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${com.navis.ecn4.log.dir}/${com.navis.ecn4.log.file}_cache.log"/>
        <param name="maxFileSize" value="1000KB"/>
        <param name="maxBackupIndex" value="4"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="Async_Data" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="DataIssuesFile"/>
    </appender>

    <appender name="DataIssuesFile"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${com.navis.ecn4.log.dir}/${com.navis.ecn4.log.file}_data_issues.log"/>
        <param name="maxFileSize" value="1000KB"/>
        <param name="maxBackupIndex" value="4"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="Async_Axis" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="AxisFile"/>
    </appender>

    <appender name="AxisFile"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${com.navis.ecn4.log.dir}/${com.navis.ecn4.log.file}_axis.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <appender name="Async_Error" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <appender-ref ref="Ecn4ErrorFile"/>
    </appender>

    <appender name="Ecn4ErrorFile"
              class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${com.navis.ecn4.log.dir}/${com.navis.ecn4.log.file}_errors.log"/>
        <param name="maxFileSize" value="10MB"/>
        <param name="maxBackupIndex" value="50"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error"/>
            <param name="LevelMax" value="error"/>
        </filter>
    </appender>

    <!-- To have the application logs to the OS, change the appender class value below from "org.apache.log4j.ConsoleAppender" to
    "org.apache.log4j.nt.NTEventLogAppender" and also change the level value of category element from OFF to ON-->
    <appender name="SystemConsole"
              class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p | %t (%X{ThreadNameDetail}) %x | [%c{1}:%L] %m%n"/>
        </layout>
    </appender>

    <category name="Coherence">
        <level value="INFO"/>
    </category>

    <category name="com.navis">
        <level value="WARN"/>
    </category>

    <category name="com.navis.carina.diagnostic.system.JvmUtils">
        <level value="DEBUG"/>
    </category>

    <category name="com.navis.community.message.Message">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.AbstractService">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.bento">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.bento.BentoServerHandler">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.bento.CheResetRequestProcessor">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.bento.DispatchRequestProcessor">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.bento.Ecn4BentoServerBootstrap">
        <level value="INFO"/>
    </category>

    <category name="com.navis.ecn4.cache">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.cache.impl.DebugDataSourceListener">
        <level value="OFF"/>
        <!-- Comment in if you want to create a additional  _cache.log files -->
        <!-- <appender-ref ref="CacheFile"/> -->
    </category>
    <category name="com.navis.ecn4.cache.impl.DomainModelDataSourceListener">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.DomainModelGate">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.commandline.Ecn4CommandLineProcessor">
        <level value="INFO"/>
    </category>

    <category name="com.navis.ecn4.dispatch">
        <level value="DEBUG"/>
    </category>
    <category name="com.navis.ecn4.DropPositionData">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.Ecn4Bootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.Ecn4StandaloneCacheLauncher">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.entityupdate">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.entityupdate.Ecn4EntityUpdaterBootstrap">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.entityupdate.EntityUpdateServerHandler">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.equipment.impl.FIFOTruckPowQueuingStrategy">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.equipment.impl.ItvValidatorLoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.equipment.impl.QueuingStrategyLoggingWrapper">
        <level value="OFF"/>
    </category>

    <category name="com.navis.ecn4.esb">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.esb.aems.AemsAscNotifier">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.esb.aems.AemsAscObserver">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.esb.aems.AemsAscSynchronizer">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.esb.aems.LocalTosAemsOperations">
        <level value="ERROR"/>
    </category>

    <category name="com.navis.ecn4.extensions.impl.ExtensionManager">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.gc.GarbageCollector">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.gc.GarbageCollectorTask">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.geodetic">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.memory">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.DomainModelLoader">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.DomainModelGate">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.DomainObjectFactoryInitializer">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.ManualJobCompletionListener">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.ObjectsCacheDomainModelListener">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.memory.impl.StorageIndexDomainModelListener">
        <level value="INFO"/>
    </category>

    <category name="com.navis.ecn4.model">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.backgroundtasks.CheckSwappingTask">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.model.impl.CheHandler">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.Container">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.ContainerHandler">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.model.impl.ContainerPosition">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.Dispatcher">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.EcOperations">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.ChassisOperations">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.model.impl.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.model.impl.SwapOperations">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.model.impl.UnitAndPosition">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.model.impl.WorkAssignmentHandler">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.model.impl.WorkInstructionHandler">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.model.impl.YardShiftCalculatorLoggerWrapper">
        <level value="OFF"/>
    </category>

    <category name="com.navis.ecn4.query">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.query.impl.DomainModelQueryProvider">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.remotequery">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.remotequery.Ecn4RemoteQueryBootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.staf">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.staf.Ecn4StafBootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.standardmessage">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.StatusManager">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.tbdunit">
        <level value="INFO"/>
    </category>

    <category name="com.navis.ecn4.ulc.Ecn4UlcBootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.AbstractServerStreamHandler">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.AppSettings">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.BentoHelper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.util.Ecn4HttpBootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.Ecn4TaskScheduler">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.FilterMatchAwaitingDomainModelListener">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.log4j.SystemConsole" additivity="false">
        <level value="OFF"/>
        <appender-ref ref="Async_Console"/>
    </category>
    <category name="com.navis.ecn4.util.ResourceLoader">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.util.SocketStreamProviderFactory">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.utils.Ecn4DomainObjectAttributeGate">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.filters.impl.MessageFilterLoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.forms">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.forms.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.Ecn4XmlRdtBootstrap">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.filters.DefaultJobListFilter">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.filters.AbstractJobListFilter">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.filters.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.sorters.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.sorters.QuayCraneUnitLoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.XmlRdtPushDomainModelListener">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.impl.XmlRdtServerHandler">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.conditions.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.handlers.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.post.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.pre.AbstractPreEvent">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.pre.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.exit.LoggingWrapper">
        <level value="OFF"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.pre.RequestRefinementPreEvent">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.pre.RequestDropOrAvoidStackRefinementPreEvent">
        <level value="INFO"/>
    </category>
    <category name="com.navis.ecn4.xmlrdt.states.transitions.LoggingWrapper">
        <level value="OFF"/>
    </category>

    <category name="com.navis.framework.metafields">
        <level value="WARN"/>
    </category>
    <category name="com.navis.framework.metafields.MetafieldDictionaryImpl">
        <level value="OFF"/>
    </category>
    <category name="com.navis.xpscache">
        <level value="INFO"/>
    </category>
    <category name="com.navis.xpscache.SignalCacheManager">
        <level value="INFO"/>
    </category>
    <category name="com.navis.xpscache.util.CacheDiagnostics">
        <level value="INFO"/>
    </category>
    <category name="com.navis.xpscache.util.LoggingHelper" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="Async_Data"/>
    </category>

    <category name="mortbay.log">
        <level value="INFO"/>
    </category>

    <category name="org.apache.axis.transport.http.HTTPSender" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="Async_Axis"/>
    </category>

    <category name="org.hibernate">
        <level value="INFO"/>
    </category>

    <category name="org.mule.DefaultMuleMessage">
        <level value="OFF"/>
    </category>

    <category name="org.mule.component.simple.LogComponent">
        <level value="INFO"/>
    </category>

    <category name="org.mule.registry.TransientRegistry">
        <level value="ERROR"/>
    </category>

    <category name="com.navis.ecn4.esb.mule.BrokerAdvisory">
        <level value="WARN"/>
    </category>

    <category name="org.mule.api.processor.LoggerMessageProcessor">
        <level value="INFO"/>
    </category>

    <category name="org.springframework">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.AscDbTestHelper">
        <level value="OFF"/>
    </category>

    <category name="com.navis.ecn4.core.impl.LockProvider">
        <level value="INFO"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.RefDataGenerator">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.AscInventorySynchronizer">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.impl.AscTransportOrder">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.impl.AscTransferPointStatus">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.memory.impl.AscObserverDomainModelListener">
        <level value="ERROR"/>
    </category>
    <category name="com.navis.ecn4.esb.dbintf.impl.AscUtil">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.esb.dbintf.AscDomainModelEventListener">
        <level value="WARN"/>
    </category>
    <category name="org.mule.transport.http.HttpClientMessageDispatcher">
        <level value="WARN"/>
    </category>
    <category name="com.navis.ecn4.esb.dbintf.ChassisDetailsRestClient">
        <level value="WARN"/>
    </category>

    <category name="com.navis.ecn4.util.restapi.RestApi">
        <level value="DEBUG"/>
    </category>

    <category name="com.navis.ecn4.xmlrdt.filters.GeodeticMessageFilter">
        <level value="INFO"/>
    </category>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="Async_File"/>
    </root>

</log4j:configuration>
