/************************************************************************
**** main.css
**** This is the MAIN CSS file, used by all pages
**** that appear in the main application window.
*************************************************************************/

/****************************** imports  ********************************
**** Import all the modular stylesheets used by main content pages.
**** Do not change the order of these imports.
*************************************************************************/
@import url("modules/font.css");
@import url("modules/menu.css");
@import url("modules/actionbar.css");
@import url("modules/tooltip.css");
@import url("modules/content.css");
@import url("modules/navPane.css");
@import url("modules/button.css");
@import url("modules/table.css");
@import url("modules/form.css");
@import url("modules/tab.css");
@import url("modules/header.css");
@import url("modules/shadow.css");
@import url("modules/calendar.css");
@import url("modules/modalDialog.css");
@import url("modules/selections.css");
@import url("modules/lov.css");
@import url("modules/expandWidget.css");
@import url("modules/pagination.css");
@import url("modules/print.css");

/****************************** globals  ********************************
**** Controls the document body itself.  Place bg colors, margins,
**** etc. here.
*************************************************************************/
body
{
    margin:0px;
   /* background-color:#FFF;
     overflow:auto causes table height=100% failure in Mozilla.  Using an expression ensure only IE on PC will use this attribute. */
    overflow:expression('auto');
}
