/************************************************************************
**** popup.css
**** This is the MAIN POPUP CSS file, used by all POPUP windows
*************************************************************************/

/****************************** imports  ********************************
**** Import all the modular stylesheets used by main content pages.
**** Do not change the order of these imports.
*************************************************************************/

/****************************** globals  ********************************
**** Controls the document body itself.  Place bg colors, margins,
**** etc. here.
*************************************************************************/

body{
overflow:hidden;
overflow-x:hidden;
overflow-y:auto;
}

.contentBody
{
padding-right:0px;
}

div.contentBody
{
padding:0px;
padding-right:10px;
overflow:hidden;
overflow-x:hidden;
overflow-y:scroll;
}

div.venti
{
height:420px;
}