/************************************************************************/
/**** CONTENT.CSS                                                    ****/
/**** Used by any page with a content panel.  Controls the           ****/
/**** appearance of the content framing, margins, highlights, etc.   ****/
/************************************************************************/

/*************************** contentTable  ******************************/
/**** Used to frame-up the content area in a gray panel.             ****/
/************************************************************************/
.contentPanel
{
    padding:0px;
    background-color:#FFF;
}
.contentPanelTable
{
    /* determines whether the gray box in the content panel stretches 100% width and/or height */
    width:100%;
    height:100%;
}
.contentArea
{
    padding:10px;
}
.contentTable
{
    width:100%;
    height:100%;
}
.contentHeaderRow
{
    background-image:url(../../images/tabs/tab1/tabRowBgTile.gif);
    background-repeat:repeat-x;
    background-position:bottom;
    vertical-align:bottom;
}
.contentHeaderRow_leftCorner
{
    background-image:url(../../images/tabs/tab1/tabBodyCorner_topLeft.gif);
}
.contentHeaderRow_rightCorner
{
    background-image:url(../../images/tabs/tab1/tabBodyCorner_topRight.gif);
}
.contentBodyRow
{
    height:100%;
    vertical-align:top;
}
.contentBody_left
{
    background-image:url(../../images/tabs/tab1/tabBodyBgTile_left.gif);
    background-repeat:repeat-y;
}
.contentBody_right
{
    background-image:url(../../images/tabs/tab1/tabBodyBgTile_right.gif);
    background-repeat:repeat-y;
}
.contentBody
{
    background-color:#E4E4E4;
    padding:10px;
}
.contentFooterRow
{
    background-image:url(../../images/tabs/tab1/tabBodyBgTile_bottom.gif);
    background-repeat:repeat-x;
    background-position:bottom;
    vertical-align:bottom;
}
.contentFooterRow_leftCorner
{
    background-image:url(../../images/tabs/tab1/tabBodyCorner_bottomLeft.gif);
}
.contentFooterRow_rightCorner
{
    background-image:url(../../images/tabs/tab1/tabBodyCorner_bottomRight.gif);
}


/***************************** subContent  ******************************/
/**** Used to frame-up the content area inside sub-tabs.             ****/
/************************************************************************/
.subContentBody
{
    background-color:#F0F0F0;
    padding:10px;
}

/*************************** content areas  *****************************/
/**** Presentation for diffent sections of the content panel.        ****/
/************************************************************************/
.statusArea
{
    padding:3px 10px;
    background-color:#FFF;
}
.globalPageDescArea
{
    padding:3px 10px 0px 10px;
    background-color:#FFF;
}
.alertArea
{
    padding:10px 10px 0px 10px;
    background-color:#FFF;
}
.pageDescArea
{
    margin-bottom:10px;
}
.errorArea
{
    margin-bottom:10px;
}

/*************************** page loader css  ****************************
***** Turns on and off the main content
*************************************************************************/
.makeVisible
{
display:table;
display:inline-block;
height:100%;
width:100%;
}
.makeInVisible
{
display:none;
}