/************************************************************************/
/**** COLLAPSE.CSS                                                   ****/
/**** Controls appearance of the form expand/collapse widget.        ****/
/************************************************************************/

/************************************************************************/
/**** All cells                                                      ****/
/**** Common to all cells of the widget.                             ****/
/************************************************************************/
td.collapseTd1 div, td.collapseTd2 div
{
  display:block;
  border-top:1px solid #EEEEEE;
  border-left:1px solid #EEEEEE;
  border-bottom:1px solid #C2C2C2;
  border-right:1px solid #C2C2C2;
  background-color:#D6D6D6;
}

/************************************************************************/
/**** Cell 1                                                         ****/
/**** Controls the display of the first cell of the widget.          ****/
/************************************************************************/
.collapseTd1, .collapseTd1_expanded
{
  padding:1px 0px 1px 1px;
  background-color:#5C5C5C;
  height:100%;
  white-space:nowrap;
}

td.collapseTd1 div, td.collapseTd1_expanded div
{
  background-position:center;
  background-repeat:no-repeat;
  width:8px;
  padding:0px;
  height:100%;
}

td.collapseTd1 div
{
  background-image:url('../../../common/images/buttons/inputWidgets/collapsable.gif');
}

td.collapseTd1_expanded div
{
  background-image:url('../../../common/images/buttons/inputWidgets/collapsable_down.gif');
  border-top:1px solid #A9A9A9;
  border-left:1px solid #A9A9A9;
  border-bottom:1px solid #BDBDBD;
  border-right:1px solid #BDBDBD;
  background-color:#BDBDBD;
}

td.collapseTd1 div a, td.collapseTd1_expanded div a
{
  height:100%;
  display:block;
  padding:0px;
  text-decoration:none;
}

/************************************************************************/
/**** Cell 2                                                         ****/
/**** Controls the display of the second cell of the widget.         ****/
/************************************************************************/
.collapseTd2
{
  padding:1px 1px 1px 0px;
  background-color:#5C5C5C;
  height:100%;
  white-space:nowrap;
}

td.collapseTd2 div
{
  padding:1px;
  cursor:default;
  display:block;
}

td.collapseTd2 div input
{
  margin:0px;
  display:inline
}
