#timerParent{position:relative; top:0px;left:0px;height:21px;background-color:white;border-right: 1px solid #ffffff;overflow:hidden;visibility:hidden}
#fieldTest{height:1px;width:1px;visibility:hidden}
#fieldParent{position:relative; top:-21px;left:0px;height:21px;}

#ftButtonParent{position:relative; top:0px;left:0px;width:15px;height:21px;overflow:hidden}
#ftButtonError{position:relative; top:1px;left:0px;height:21px;visibility:hidden}
#ftButtonNoError{position:relative; top:-20px;left:0px;height:21px;}

.outer{position:relative; top:0px;left:-40px; height:21px;width:50px;background-color:CCCCCC;}
.middle{position:relative; top:0px;left:10px; height:21px;width:30px;background-color:666666;}
.inner{position:relative; top:0px;left:10px; height:21px;width:10px;background-color:333333;}
.filler{position:relative; width:10;height:21px;background-color:D6D6D6;border-left: 1px solid #ffffff}
.l{ background-color:D6D6D6; }
.m{ background-color:A5A5A5; }
.d{ background-color:5C5C5C; }