/************************************************************************/
/**** FORM.CSS                                                       ****/
/**** Controls the appearance of form elements.                      ****/
/************************************************************************/
form
{
    margin:0px;
}
.txtInput, .textArea
{
    background-color:#FFF;
    vertical-align:middle;
    width:100%;
}
.txtInput
{
}
.textArea
{
    vertical-align:auto;
}
.inputWidget
{
    vertical-align:middle;
    border:none;
    margin:none;
}
.disabled
{
    background-color:#E4E4E4!important;
    color:#888!important;
}
.activeInput
{
	background-color:#A3D080!important;
}
.inputError
{
    background-color:#CC0000!important;
    color:#FFF!important;
    font-weight:bold!important;
}
.inputWarning
{
    background-color:#F7DE5C!important;
    color:#996600!important;
    font-weight:bold!important;
}
