/************************************************************************/
/**** HEADER.CSS                                                     ****/
/************************************************************************/

/***************************** Header Panel *****************************/
/**** Used for header area, including header tabs.                   ****/
/************************************************************************/
.headerTabLink, .headerTabLink_active
{
	border-top:1px solid #F5F5F5;
	color:#666;
	text-decoration:none;
	cursor:pointer;
	font-size:10px;
	padding: 3px 10px;	
	display:block;
	white-space:nowrap;
	vertical-align:middle;
}
.headerRow
{
    background-image:url(../../images/tabs/tab2/tabRowBgTile.gif);
    background-repeat:repeat-x;
    background-position:bottom;
    vertical-align:bottom;
}
.utilLink
{
    color:#7B7B7B;
    text-decoration:none;
    font-size:11px;
    vertical-align:middle;
    margin-right:5px;
}
.utilLink:hover
{
    text-decoration:underline;
}


/************************** user info panel  ****************************/
/**** Used to display user info in the header.                       ****/
/************************************************************************/
.userInfoPanel
{
}
.userInfoTable
{
    margin:3px;
    background-color:#DBDBDB;
}
.userInfoTable td
{
    padding:3px;
    background-color:#FFFFFF;
    font-size:10px;
    color:#7B7B7B;
    white-space:nowrap;
}
.userInfoTable td img, .userInfoTable td a
{
    vertical-align:middle;
    margin-left:3px;
}
