/************************************************************************/
/**** TABLE.CSS                                                      ****/
/**** Content tables are those use to display forms, reports or      ****/
/**** lists of items.                                                ****/
/************************************************************************/

/*************************** table globals  *****************************/
/**** Used for all content tables.                                   ****/
/************************************************************************/
.tableTitleRow
{
    background-color:#BBB;
}
.tableTitleRow th
{
    padding:0px;
}
.tableTitle
{
    color:#333;
    font-weight:bold;
    font-size:11px;
    text-align:left;
    padding:3px;
    width:100%;
}
.tableActions, .tableActionsActive
{
    white-space:nowrap;
    padding:0px 3px;
}
.tableActions a
{
    cursor:pointer;
    font-size:10px;
}
.tableActions img
{
    vertical-align:middle;
}

/***************************** formTable  *******************************/
/**** Used to contain and display forms.                             ****/
/************************************************************************/
.formTable
{
    background-color:#999;
    width:100%;
}
td.labelTd, th.labelTd
{
    background-color:#D5D5D5;
    text-align:left;
    white-space:nowrap;
    width:2%;
    padding:3px;
}
td.inputTd, th.inputTd
{
    background-color:#EBEBEB;
    white-space:nowrap;
    padding:0px;
    width:50%
}
td.valueTd
{
    background-color:#EBEBEB;
    white-space:nowrap;
    width:50%
    padding:3px;
}
.formTable .tableActions, .formTable .tableActionsActive
{
    font-size:10px;
}

td.actionTd
{
    background-color:#EBEBEB;
    white-space:nowrap;
    padding:0px 3px;
    width:100%
}

/***************************** subFormTable  ****************************/
/**** Used to contain and display forms within forms.                ****/
/************************************************************************/
.subFormTable
{
    background-color:transparent;
    margin:3px;
}
.subFormTable td.labelTd
{
    background-color:transparent;
}
.subFormTable td.inputTd
{
    background-color:transparent
}
.subFormTable td.valueTd
{
    background-color:transparent;
}

/***************************** listTable  *******************************/
/**** Used to contain and display a list of items.                   ****/
/************************************************************************/
.listTable
{
    background-color:#999;
    width:100%;
}
tr.odd
{
    background-color:#EBEBEB;
}
tr.even
{
    background-color:#EBEBEB;
}

tr.rowHover
{
	background-color:#F1F1F1;
}

tr.colHeaderRow th
{
    font-size:10px;
    font-weight:normal;
    text-align:left;
    padding:3px;
    white-space:nowrap;
	vertical-align:middle;
	color:#333;
	background-color:#D5D5D5;
}
tr.colHeaderRow th.sortable, tr.colHeaderRow th.serverSortable
{
border:1px solid;
border-color:#FFF #C2C2C2 #C2C2C2 #FFF;
cursor:default;
}
.noteCol
{
    padding:0px;
    width:1%;
    white-space:nowrap;
}

/************************* Pagination Widget  ***************************/
/**** Controls appearance of page links for ListTables.              ****/
/************************************************************************/
.paginationBar th
{
    white-space:nowrap;
    padding:0px;
	vertical-align:middle;
	color:#333;
	background-color:#D5D5D5;
}

/***************************** blockList  *******************************/
/**** Used to contain and display blocks of list items. Each block   ****/
/**** appears against a white background.  Blocks are separated by   ****/
/**** a thin line.                                                   ****/
/************************************************************************/
.blockList
{
    background-color:#FFF;
    width:100%;
}
.blockList td
{
    white-space:nowrap;

}
.blockList td.blockHeaderRow
{
    font-weight:bold;
    background-color:transparent;
    border:none;
}
.blockList tr.divRow td
{
    padding:3px 0px;
    background-image:url(../../images/hr.gif);
    background-position:bottom;
    background-repeat:repeat-x;
}
