fieldset.button {
    border-style: solid !important;
    border-width: 1px !important;
    display: block;
    height: 20px;
    padding-bottom: 7px;
    padding-top: 5px;
}

fieldset.pagination {
    height: 14em;
}

fieldset.pagination-no-border {
    height: 2em;
}

legend.command span.inline {
    position: absolute;
    margin-top: 2px;
    top: 0;
}

span.segmented a.button {
    border-width: 1px !important;
    border-style: solid !important;
    padding: 4px 8px 4px;
}

.field {
    vertical-align: -2px !important;
}

label span.message {
    left: 0
}

span.arrow {
    margin-right: 15px;
    font-size: x-large;
    margin-top: -2px !important;
}

abbr {
    margin-top: -2px !important;
}

fieldset ul {
    position: absolute;
    top: 7px;
    margin-top: 10px
}

li input {
    z-index: 1;
    background: transparent;
    top: -10px;
}

span.inline {
    display: inline;
    float: left;
}

div.pad span.inline {
    vertical-align: bottom;
    position: relative;
    top: 5px;
}

legend span.fixed {
    font-weight: bold;
    left: 0px !important;
    position: absolute;
    top: -10px !important;
    z-index: 1;
}

div.pad {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: -15px;
}

div.pad ul {
    position: relative;
    top: 0px;
}

div.footer {
    border-width: 3px !important;
}

fieldset.button ul {
    margin: 0 0 0 -5px;
}

.focus, a:focus {
    border-width: 2px;
    border-style: solid;
}

.blur {
    outline: none;
}

.close-button, .exclamation-button {
    margin: 0;
    height: 0;
    width: 0;
    padding: 0;
    background-image: none;
}

.close-button-area {
    width: 0;
}

tr.button > td {
    border-top-width: 0;
}

