fieldset.button {
    border: none !important;
}

fieldset.button, div.commands > a.button {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc');
}

table.data caption {
    width: 494px;
}

.message-fragment {
    padding-bottom: 0;
}